.root {
  @mixin where-light {
    --raikou-code-background-color: #f1f3f5;
    --raikou-code-color: #000;
  }
  @mixin where-dark {
    --raikou-code-background-color: #2c2e33;
    --raikou-code-color: #fff;
  }

  font-family: var(--raikou-font-family-monospace);
  line-height: var(--raikou-line-height);
  padding: 2px calc(var(--raikou-spacing-xs) / 2);
  border-radius: var(--raikou-radius-sm);
  font-size: var(--raikou-font-size-xs);
  margin: 0;
  overflow: auto;

  @mixin where-light {
    background-color: var(--code-bg, var(--raikou-code-background-color));
    color: var(--raikou-code-color);
  }

  @mixin where-dark {
    background-color: var(--code-bg, var(--raikou-code-background-color));
    color: var(--raikou-code-color);
  }

  &[data-block] {
    padding: var(--raikou-spacing-xs);
  }
}
