.col {
  height: 100%;
  background-color: light-dark(
    var(--raikou-color-blue-0),
    var(--raikou-color-dark-4)
  );
  padding: var(--raikou-spacing-md);
}

.label {
  color: light-dark(var(--raikou-color-blue-6), var(--raikou-color-dimmed));
  font-size: var(--raikou-font-size-xl);
  font-weight: bold;
  text-align: center;
}
