.box {
  font-size: var(--raikou-font-size-xl);
  text-align: center;
  font-weight: 600;
}

.highlight {
  padding: 0.1rem 0.7rem;
  display: inline-block;
  border-radius: var(--raikou-radius-md);
  background: var(--raikou-color-blue-light);
  color: var(--raikou-color-blue-light-color);
}
