.root {
  @mixin where-light {
    --raikou-dropzone-background-color: #fff;
    --raikou-dropzone-border-color: #ced4da;
    --raikou-dropzone-background-color-hover: #f8f9fa;
  }
  @mixin where-dark {
    --raikou-dropzone-background-color: #25262b;
    --raikou-dropzone-border-color: #373a40;
    --raikou-dropzone-background-color-hover: #2c2e33;
  }

  position: relative;
  border: 1px dashed;
  color: var(--raikou-color-text);
  padding: var(--raikou-spacing-md);
  border-radius: var(--dropzone-radius);
  cursor: pointer;
  user-select: none;
  transition:
    background-color 100ms ease,
    border-color 100ms ease;

  &:where([data-loading]),
  &:where(:not([data-activate-on-click])) {
    cursor: default;
  }

  @mixin where-light {
    background-color: var(--raikou-dropzone-background-color);
    border-color: var(--raikou-dropzone-border-color);
  }

  @mixin where-dark {
    background-color: var(--raikou-dropzone-background-color);
    border-color: var(--raikou-dropzone-border-color);
  }

  @mixin hover {
    &:where([data-activate-on-click]:not([data-loading])) {
      @mixin where-light {
        background-color: var(--raikou-dropzone-background-color-hover);
      }

      @mixin where-dark {
        background-color: var(--raikou-dropzone-background-color-hover);
      }
    }
  }

  &:where([data-accept]) {
    background-color: var(--dropzone-accept-bg);
    border-color: var(--dropzone-accept-bg);
    color: var(--dropzone-accept-color);
  }

  &:where([data-reject]) {
    background-color: var(--dropzone-reject-bg);
    border-color: var(--dropzone-reject-bg);
    color: var(--dropzone-reject-color);
  }
}

.inner {
  pointer-events: none;
  user-select: none;

  &:where([data-enable-pointer-events]) {
    pointer-events: all;
  }
}

.fullScreen {
  position: fixed;
  inset: 0;
  background-color: var(--raikou-color-body);
  display: flex;
  flex-direction: column;
  padding: var(--raikou-spacing-xs);
  transition: opacity 100ms ease;

  & .dropzone {
    flex: 1;
  }
}
