.dropdown {
  @mixin where-light {
    --raikou-menu-divider-color: #e9ecef;
    --raikou-menu-divider-item-hover-bg: #f1f3f5;
  }
  @mixin where-dark {
    --raikou-menu-divider-color: #373a40;
    --raikou-menu-divider-item-hover-bg: #2c2e33;
  }

  padding: 4px;
}

.label {
  color: var(--raikou-color-dimmed);
  font-weight: 500;
  font-size: var(--raikou-font-size-xs);
  padding: calc(var(--raikou-spacing-xs) / 2) var(--raikou-spacing-sm);
  cursor: default;
}

.divider {
  margin-top: 4px;
  margin-bottom: 4px;
  border-top: 1px solid;

  @mixin where-light {
    border-color: var(--raikou-menu-divider-color);
  }

  @mixin where-dark {
    border-color: var(--raikou-menu-divider-color);
  }
}

.item {
  font-size: var(--raikou-font-size-sm);
  width: 100%;
  padding: calc(var(--raikou-spacing-xs) / 1.5) var(--raikou-spacing-sm);
  border-radius: var(--popover-radius, var(--raikou-radius-default));
  color: var(--menu-item-color, var(--raikou-color-text));
  display: flex;
  align-items: center;
  user-select: none;

  &:where([data-disabled], :disabled) {
    color: var(--raikou-color-dimmed);
    opacity: 0.6;
    pointer-events: none;
  }

  &:where([data-hovered]) {
    @mixin where-light {
      background-color: var(
        --menu-item-hover,
        var(--raikou-menu-divider-item-hover-bg)
      );
    }

    @mixin where-dark {
      background-color: var(
        --menu-item-hover,
        var(--raikou-menu-divider-item-hover-bg)
      );
    }
  }
}

.itemLabel {
  flex: 1;
}

.itemSection {
  display: flex;
  justify-content: center;
  align-items: center;

  &:where([data-position="left"]) {
    margin-inline-end: var(--raikou-spacing-xs);
  }

  &:where([data-position="right"]) {
    margin-inline-start: var(--raikou-spacing-xs);
  }
}
