.root {
  border: rem(1px) solid light-dark(var(--raikou-color-gray-3), var(--raikou-color-dark-4));
  padding: var(--raikou-spacing-xs) var(--raikou-spacing-sm);
  border-radius: var(--raikou-radius-md);
  font-weight: 500;
  transition:
    color 100ms ease,
    background-color 100ms ease,
    border-color 100ms ease;
  cursor: pointer;

  &[data-checked] {
    background-color: var(--raikou-color-blue-filled);
    border-color: var(--raikou-color-blue-filled);
    color: var(--raikou-color-white);
  }

  & * {
    pointer-events: none;
    user-select: none;
  }
}
