.root {
  @mixin where-light {
    --raikou-nav-link-bg-hover: #f8f9fa;
  }
  @mixin where-dark {
    --raikou-nav-link-bg-hover: #373a40;
  }

  --nl-bg: var(--raikou-primary-color-light);
  --nl-hover: var(--raikou-primary-color-light-hover);
  --nl-color: var(--raikou-primary-color-light-color);

  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px var(--raikou-spacing-sm);
  user-select: none;

  @mixin hover {
    @mixin where-light {
      background-color: var(--raikou-nav-link-bg-hover);
    }

    @mixin where-dark {
      background-color: var(--raikou-nav-link-bg-hover);
    }
  }

  &:where([data-disabled]) {
    opacity: 0.4;
    pointer-events: none;
  }

  &:where([data-active], [aria-current="page"]) {
    background-color: var(--nl-bg);
    color: var(--nl-color);

    @mixin hover {
      background-color: var(--nl-hover);
    }

    .description {
      --description-opacity: 0.9;
      --description-color: var(--nl-color);
    }
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 150ms ease;

  & > svg {
    display: block;
  }

  &:where([data-position="left"]) {
    margin-inline-end: var(--raikou-spacing-sm);
  }

  &:where([data-position="right"]) {
    margin-inline-start: var(--raikou-spacing-sm);
  }

  &:where([data-rotate]) {
    transform: rotate(90deg);
  }
}

.label {
  font-size: var(--raikou-font-size-sm);
}

.body {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  &:where([data-no-wrap]) {
    white-space: nowrap;
  }
}

.description {
  display: block;
  font-size: var(--raikou-font-size-xs);
  opacity: var(--description-opacity, 1);
  color: var(--description-color, var(--raikou-color-dimmed));
  overflow: hidden;
  text-overflow: ellipsis;

  :where([data-no-wrap]) & {
    white-space: nowrap;
  }
}

.children {
  padding-inline-start: var(--nl-offset, var(--raikou-spacing-lg));
}

.chevron {
  transform: rotate(-90deg);
}
