.root {
  background-color: var(--_mark-bg);
  color: var(--raikou-color-black);

  @mixin light {
    --_mark-bg: var(--mark-bg-light);
  }

  @mixin dark {
    --_mark-bg: var(--mark-bg-dark);
  }
}
