.root {
  @mixin where-light {
    --raikou-rte-root-border-color: #ced4da;
    --raikou-rte-code-background-color: #f8f9fa;
    --raikou-rte-code-color: #212529;
    --raikou-rte-code-color-comment: #adb5bd;
    --raikou-rte-code-color-var: #f03e3e;
    --raikou-rte-code-color-number: #1c7ed6;
    --raikou-rte-code-color-title: #d6336c;
    --raikou-rte-code-color-keyword: #7048e8;
    --raikou-rte-control-interactive-background-color-hover: #f8f9fa;
    --raikou-rte-control-link-external-control-background-color: #fff;
    --raikou-rte-control-link-external-control-border-color: #ced4da;
    --raikou-rte-control-toolbar-border-color: #ced4da;
  }

  @mixin where-dark {
    --raikou-rte-root-border-color: #373a40;
    --raikou-rte-code-border-color: #141517;
    --raikou-rte-code-color: #c1c2c5;
    --raikou-rte-code-color-comment: #909296;
    --raikou-rte-code-color-var: #ff6b6b;
    --raikou-rte-code-color-number: #22b8cf;
    --raikou-rte-code-color-title: #fcc419;
    --raikou-rte-code-color-keyword: #845ef7;
    --raikou-rte-control-interactive-border-color-hover: #2c2e33;
    --raikou-rte-control-interactive-border-color-active: #2c2e33;
    --raikou-rte-control-interactive-border-color: #25262b;
    --raikou-rte-control-interactive-border-color: #373a40;
    --raikou-rte-control-active-border-color: #1a1b1e;
    --raikou-rte-control-active-border-color: #373a40;
    --raikou-rte-control-toolbar-border-color: #373a40;
  }

  position: relative;
  border: 1px solid;
  border-radius: var(--raikou-radius-default);

  @mixin where-light {
    border-color: var(--raikou-rte-root-border-color);
  }

  @mixin where-dark {
    border-color: var(--raikou-rte-root-border-color);
  }
}

.typographyStylesProvider {
  padding: 0;
  margin: 0;

  & li > p {
    margin: 0;
  }

  & ul li,
  & ol li {
    margin-top: 2px;
  }

  & p {
    margin-bottom: 7px;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p {
    margin-top: 0;
  }
}

.content {
  background-color: var(--raikou-color-body);
  border-radius: var(--raikou-radius-default);

  & :global(.ProseMirror) {
    outline: 0;
    padding: var(--raikou-spacing-md);
  }

  & :global(.ProseMirror > *:last-child) {
    margin-bottom: 0;
  }

  & :global(.ProseMirror p.is-editor-empty:first-of-type::before) {
    content: attr(data-placeholder);
    pointer-events: none;
    user-select: none;
    float: left;
    height: 0;
    color: var(--raikou-color-placeholder);
  }

  & :global(pre) {
    font-family: var(--raikou-font-family-monospace);
    border-radius: var(--raikou-radius-default);
    padding: var(--raikou-spacing-sm) var(--raikou-spacing-md);

    @mixin where-light {
      background-color: var(--raikou-rte-code-background-color);
      color: var(--raikou-rte-code-color);
      --code-color-comment: var(--raikou-rte-code-color-comment);
      --code-color-var: var(--raikou-rte-code-color-var);
      --code-color-number: var(--raikou-rte-code-color-number);
      --code-color-title: var(--raikou-rte-code-color-title);
      --code-color-keyword: var(--raikou-rte-code-color-keyword);
    }

    @mixin where-dark {
      background-color: var(--raikou-rte-code-background-color);
      color: var(--raikou-rte-code-color);
      --code-color-comment: var(--raikou-rte-code-color-comment);
      --code-color-var: var(--raikou-rte-code-color-var);
      --code-color-number: var(--raikou-rte-code-color-number);
      --code-color-title: var(--raikou-rte-code-color-title);
      --code-color-keyword: var(--raikou-rte-code-color-keyword);
    }

    & code {
      background: none !important;
      color: inherit;
      font-size: var(--raikou-font-size-sm);
      padding: 0;
    }

    & :global(.hljs-comment),
    & :global(.hljs-quote) {
      color: var(--code-color-comment);
    }

    & :global(.hljs-variable),
    & :global(.hljs-template-variable),
    & :global(.hljs-attribute),
    & :global(.hljs-tag),
    & :global(.hljs-regexp),
    & :global(.hljs-link),
    & :global(.hljs-name),
    & :global(.hljs-selector-id),
    & :global(.hljs-selector-class) {
      color: var(--code-color-var);
    }

    & :global(.hljs-number),
    & :global(.hljs-meta),
    & :global(.hljs-built_in),
    & :global(.hljs-builtin-name),
    & :global(.hljs-literal),
    & :global(.hljs-type),
    & :global(.hljs-params) {
      color: var(--code-color-number);
    }

    & :global(.hljs-string),
    & :global(.hljs-symbol),
    & :global(.hljs-bullet) {
      color: var(--code-color-var);
    }

    & :global(.hljs-title),
    & :global(.hljs-section) {
      color: var(--code-color-title);
    }

    & :global(.hljs-keyword),
    & :global(.hljs-selector-tag) {
      color: var(--code-color-keyword);
    }

    & :global(.hljs-emphasis) {
      font-style: italic;
    }

    & :global(.hljs-strong) {
      font-weight: 700;
    }
  }
}

.linkEditorDropdown {
  background-color: var(--raikou-color-body);
}

.control {
  min-width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: var(--raikou-radius-default);
  cursor: default;

  @mixin where-light {
    background-color: var(--raikou-color-white);
    border-color: var(--raikou-color-gray-4);
  }

  @mixin where-dark {
    background-color: var(--raikou-color-dark-6);
    border-color: var(--raikou-color-dark-4);
  }

  &:where([data-disabled]) {
    cursor: not-allowed;

    @mixin where-light {
      background-color: var(--raikou-color-gray-1);
      color: var(--raikou-color-gray-5);
    }

    @mixin where-dark {
      background-color: var(--raikou-color-dark-5);
      color: var(--raikou-color-dark-3);
    }
  }

  &:where([data-interactive]) {
    cursor: pointer;

    @mixin hover {
      @mixin where-light {
        background-color: var(
          --raikou-rte-control-interactive-background-color-hover
        );
      }

      @mixin where-dark {
        background-color: var(
          --raikou-rte-control-interactive-background-color-hover
        );
      }
    }
  }

  &:where([data-active]) {
    background-color: var(--raikou-primary-color-light);
    color: var(--raikou-primary-color-light-color);

    @mixin hover {
      background-color: var(--raikou-primary-color-light-hover);
    }
  }
}

.controlsGroup {
  display: flex;
  background-color: var(--raikou-color-body);

  & [data-rich-text-editor-control] {
    border-radius: 0;

    &:not(:last-of-type) {
      border-inline-end-width: 0;
    }

    &:last-of-type {
      border-start-end-radius: var(--raikou-radius-default);
      border-end-end-radius: var(--raikou-radius-default);
    }

    &:first-of-type {
      border-start-start-radius: var(--raikou-radius-default);
      border-end-start-radius: var(--raikou-radius-default);
    }
  }
}

.linkEditor {
  display: flex;
}

.linkEditorInput {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-inline-end: 0;
}

.linkEditorExternalControl {
  border: 1px solid;
  color: var(--raikou-color-text);
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--raikou-radius-default);

  @mixin where-light {
    background-color: var(
      --raikou-rte-control-link-external-control-background-color
    );
    border-color: var(--raikou-rte-control-link-external-control-border-color);
  }

  @mixin where-dark {
    background-color: var(
      --raikou-rte-control-link-external-control-background-color
    );
    border-color: var(--raikou-rte-control-link-external-control-border-color);
  }

  &:where([data-active]) {
    background-color: var(--raikou-primary-color-light);
    color: var(--raikou-primary-color-filled);

    @mixin hover {
      background-color: var(--raikou-primary-color-light-hover);
    }
  }
}

.linkEditorSave {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--raikou-spacing-sm);
  top: var(--rte-sticky-offset, 0);
  background-color: var(--raikou-color-body);
  z-index: 1;
  border-start-end-radius: var(--raikou-radius-default);
  border-start-start-radius: var(--raikou-radius-default);
  border-bottom: 1px solid;
  padding: var(--raikou-spacing-xs) var(--raikou-spacing-md);

  @mixin where-light {
    border-color: var(--raikou-rte-control-toolbar-border-color);
  }

  @mixin where-dark {
    border-color: var(--raikou-rte-control-toolbar-border-color);
  }

  &:where([data-sticky]) {
    position: sticky;
  }
}

.taskList {
  list-style-type: none;
  padding: 0;
  padding-inline-start: 0;

  & :where(li) {
    margin: 0;
    padding: 0;
    display: flex;
  }

  & :where(ul) {
    margin-top: 5px;
  }

  & p {
    margin: 0;
    padding: 0;
  }

  & :where(label) {
    display: inline-block;
  }

  & :where(input) {
    cursor: pointer;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-radius: var(--raikou-radius-default);
    vertical-align: middle;
    position: relative;

    @mixin where-light {
      background-color: var(--raikou-color-white);
      border-color: var(--raikou-color-gray-4);
    }

    @mixin where-dark {
      background-color: var(--raikou-color-dark-6);
      border-color: var(--raikou-color-dark-4);
    }

    &:checked {
      background-color: var(--raikou-primary-color-filled);
      border-color: var(--raikou-primary-color-filled);

      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxMCA3Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNCA0LjU4NkwxLjcwNyAyLjI5M0ExIDEgMCAxMC4yOTMgMy43MDdsMyAzYS45OTcuOTk3IDAgMDAxLjQxNCAwbDUtNUExIDEgMCAxMDguMjkzLjI5M0w0IDQuNTg2eiIvPjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
      }
    }
  }

  & :where(li > label) {
    margin-inline-end: var(--raikou-spacing-sm);
  }
}
