.root {
  @mixin light {
    --raikou-rte-root-bd: #ced4da;
    --raikou-rte-code-bg: #f8f9fa;
    --raikou-rte-code-color: #212529;
    --raikou-rte-code-color-comment: #adb5bd;
    --raikou-rte-code-color-var: #f03e3e;
    --raikou-rte-code-color-number: #1c7ed6;
    --raikou-rte-code-color-title: #d6336c;
    --raikou-rte-code-color-keyword: #7048e8;
    --raikou-rte-control-interactive-bg-hover: #f8f9fa;
    --raikou-rte-control-interactive-bg-active: #f8f9fa;
    --raikou-rte-control-interactive-bg: #fff;
    --raikou-rte-control-interactive-bd: #ced4da;
    --raikou-rte-control-active-bg: #fff;
    --raikou-rte-control-active-bd: #ced4da;
    --raikou-rte-control-toolbar-bd: #ced4da;
  }

  @mixin dark {
    --raikou-rte-root-bd: #373a40;
    --raikou-rte-code-bg: #141517;
    --raikou-rte-code-color: #c1c2c5;
    --raikou-rte-code-color-comment: #909296;
    --raikou-rte-code-color-var: #ff6b6b;
    --raikou-rte-code-color-number: #22b8cf;
    --raikou-rte-code-color-title: #fcc419;
    --raikou-rte-code-color-keyword: #845ef7;
    --raikou-rte-control-interactive-bg-hover: #2c2e33;
    --raikou-rte-control-interactive-bg-active: #2c2e33;
    --raikou-rte-control-interactive-bg: #25262b;
    --raikou-rte-control-interactive-bd: #373a40;
    --raikou-rte-control-active-bg: #1a1b1e;
    --raikou-rte-control-active-bd: #373a40;
    --raikou-rte-control-toolbar-bd: #373a40;
  }

  position: relative;
  border: rem(1px) solid var(--_root-bd);
  border-radius: var(--raikou-radius-default);

  @mixin light {
    --_root-bd: var(--raikou-rte-root-bd);
  }

  @mixin dark {
    --_root-bd: var(--raikou-rte-root-bd);
  }
}

.typographyStylesProvider {
  padding: 0;
  margin: 0;

  & li > p {
    margin: 0;
  }

  & ul li,
  & ol li {
    margin-top: rem(2px);
  }

  & p {
    margin-bottom: rem(7px);
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p {
    margin-top: 0;
  }
}

.content {
  background-color: var(--raikou-color-body);
  border-radius: var(--raikou-radius-default);

  & :global(.ProseMirror) {
    outline: 0;
    padding: var(--raikou-spacing-md);
  }

  & :global(.ProseMirror > *:last-child) {
    margin-bottom: 0;
  }

  & :global(.ProseMirror p.is-editor-empty:first-of-type::before) {
    content: attr(data-placeholder);
    pointer-events: none;
    user-select: none;
    float: left;
    height: 0;
    color: var(--raikou-color-placeholder);
  }

  & :global(pre) {
    background-color: var(--_code-bg);
    color: var(--_code-color);
    font-family: var(--raikou-font-family-monospace);
    border-radius: var(--raikou-radius-default);
    padding: var(--raikou-spacing-md) var(--raikou-spacing-xl);

    & code {
      background: none !important;
      color: inherit;
      font-size: var(--raikou-font-size-sm);
      padding: 0;
    }

    & :global(.hljs-comment),
    & :global(.hljs-quote) {
      color: var(--_code-color-comment);
    }

    & :global(.hljs-variable),
    & :global(.hljs-template-variable),
    & :global(.hljs-attribute),
    & :global(.hljs-tag),
    & :global(.hljs-regexp),
    & :global(.hljs-link),
    & :global(.hljs-name),
    & :global(.hljs-selector-id),
    & :global(.hljs-selector-class) {
      color: var(--_code-color-var);
    }

    & :global(.hljs-number),
    & :global(.hljs-meta),
    & :global(.hljs-built_in),
    & :global(.hljs-builtin-name),
    & :global(.hljs-literal),
    & :global(.hljs-type),
    & :global(.hljs-params) {
      color: var(--_code-color-number);
    }

    & :global(.hljs-string),
    & :global(.hljs-symbol),
    & :global(.hljs-bullet) {
      color: var(--_code-color-var);
    }

    & :global(.hljs-title),
    & :global(.hljs-section) {
      color: var(--_code-color-title);
    }

    & :global(.hljs-keyword),
    & :global(.hljs-selector-tag) {
      color: var(--_code-color-keyword);
    }

    & :global(.hljs-emphasis) {
      font-style: italic;
    }

    & :global(.hljs-strong) {
      font-weight: 700;
    }
  }

  @mixin light {
    --_code-bg: var(--raikou-rte-code-bg);
    --_code-color: var(--raikou-rte-code-color);
    --_code-color-comment: var(--raikou-rte-code-color-comment);
    --_code-color-var: var(--raikou-rte-code-color-var);
    --_code-color-number: var(--raikou-rte-code-color-number);
    --_code-color-title: var(--raikou-rte-code-color-title);
    --_code-color-keyword: var(--raikou-rte-code-color-keyword);
  }

  @mixin dark {
    --_code-bg: var(--raikou-rte-code-bg);
    --_code-color: var(--raikou-rte-code-color);
    --_code-color-comment: var(--raikou-rte-code-color-comment);
    --_code-color-var: var(--raikou-rte-code-color-var);
    --_code-color-number: var(--raikou-rte-code-color-number);
    --_code-color-title: var(--raikou-rte-code-color-title);
    --_code-color-keyword: var(--raikou-rte-code-color-keyword);
  }
}

.linkEditorDropdown {
  background-color: var(--raikou-color-body);
}

.control {
  background-color: var(--_control-bg);
  color: var(--_control-color);
  min-width: rem(26px);
  height: rem(26px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: rem(1px) solid var(--_control-bd);
  border-radius: var(--raikou-radius-default);
  cursor: var(--_control-cursor, default);

  &[data-interactive] {
    --_control-cursor: pointer;

    @mixin hover {
      @mixin light {
        --_control-bg: var(--raikou-rte-control-interactive-bg-hover);
      }

      @mixin dark {
        --_control-bg: var(--raikou-rte-control-interactive-bg-hover);
      }
    }
  }

  [data-raikou-color-scheme] &[data-active] {
    --_control-bg: var(--raikou-primary-color-light);
    --_control-color: var(--raikou-primary-color-light-color);

    @mixin hover {
      --_control-bg: var(--raikou-primary-color-light-hover);
    }
  }

  @mixin light {
    --_control-bg: var(--raikou-rte-control-interactive-bg);
    --_control-bd: var(--raikou-rte-control-interactive-bd);
  }

  @mixin dark {
    --_control-bg: var(--raikou-rte-control-interactive-bg);
    --_control-bd: var(--raikou-rte-control-interactive-bd);
  }
}

.controlsGroup {
  display: flex;
  background-color: var(--raikou-color-body);

  & [data-rich-text-editor-control] {
    border-radius: 0;

    &:not(:last-of-type) {
      border-right-width: 0;

      @mixin rtl {
        border-right-width: rem(1px);
        border-left-width: 0;
      }
    }

    &:last-of-type {
      border-top-right-radius: var(--raikou-radius-default);
      border-bottom-right-radius: var(--raikou-radius-default);

      @mixin rtl {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: var(--raikou-radius-default);
        border-bottom-left-radius: var(--raikou-radius-default);
      }
    }

    &:first-of-type {
      border-top-left-radius: var(--raikou-radius-default);
      border-bottom-left-radius: var(--raikou-radius-default);

      @mixin rtl {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--raikou-radius-default);
        border-bottom-right-radius: var(--raikou-radius-default);
      }
    }
  }
}

.linkEditor {
  display: flex;
}

.linkEditorInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.linkEditorExternalControl {
  background-color: var(--_control-bg);
  border: rem(1px) solid var(--_control-bd);
  color: var(--_control-color, var(--raikou-color-text));
  height: rem(24px);
  width: rem(24px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--raikou-radius-default);

  [data-raikou-color-scheme] &[data-active] {
    --_control-bg: var(--raikou-primary-color-light);
    --_control-color: var(--raikou-primary-color-filled);

    @mixin hover {
      --_control-bg: var(--raikou-primary-color-light-hover);
    }
  }

  @mixin light {
    --_control-bg: var(--raikou-rte-control-active-bg);
    --_control-bd: var(--raikou-rte-control-active-bd);
  }

  @mixin dark {
    --_control-bg: var(--raikou-rte-control-active-bg);
    --_control-bd: var(--raikou-rte-control-active-bd);
  }
}

.linkEditorSave {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--raikou-spacing-sm);
  position: var(--_toolbar-position, static);
  top: var(--rte-sticky-offset, 0);
  background-color: var(--raikou-color-body);
  z-index: 1;
  border-top-right-radius: var(--raikou-radius-default);
  border-top-left-radius: var(--raikou-radius-default);
  border-bottom: rem(1px) solid var(--_toolbar-bd);
  padding: var(--raikou-spacing-xs) var(--raikou-spacing-md);

  @mixin light {
    --_toolbar-bd: var(--raikou-rte-control-toolbar-bd);
  }

  @mixin dark {
    --_toolbar-bd: var(--raikou-rte-control-toolbar-bd);
  }

  &[data-sticky] {
    --_toolbar-position: sticky;
  }
}
