.root {
  @mixin where-light {
    --raikou-paper-border-color: #dee2e6;
  }
  @mixin where-dark {
    --raikou-paper-border-color: #373a40;
  }

  --paper-radius: var(--raikou-radius-default);

  outline: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  touch-action: manipulation;
  text-decoration: none;
  border-radius: var(--paper-radius);
  box-shadow: var(--paper-shadow);
  background-color: var(--raikou-color-body);

  &:where([data-with-border]) {
    @mixin where-light {
      border: rem(1px) solid var(--raikou-paper-border-color);
    }

    @mixin where-dark {
      border: rem(1px) solid var(--raikou-paper-border-color);
    }
  }
}
