.root {
  @mixin where-light {
    --raikou-card-bg: #fff;
    --raikou-card-section-border-color: #dee2e6;
  }
  @mixin where-dark {
    --raikou-card-bg: #25262b;
    --raikou-card-section-border-color: #373a40;
  }

  --card-padding: var(--raikou-spacing-md);

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  color: var(--raikou-color-text);

  @mixin where-light {
    background-color: var(--raikou-card-bg);
  }

  @mixin where-dark {
    background-color: var(--raikou-card-bg);
  }
}

.section {
  display: block;
  margin-inline: calc(var(--card-padding) * -1);

  &:where(:first-child) {
    margin-top: calc(var(--card-padding) * -1);
    border-top: none !important;
  }

  &:where(:last-child) {
    margin-bottom: calc(var(--card-padding) * -1);
    border-bottom: none !important;
  }

  &:where([data-inherit-padding]) {
    padding-inline: var(--card-padding);
  }

  &:where([data-with-border]) {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  @mixin where-light {
    border-color: var(--raikou-card-section-border-color);
  }

  @mixin where-dark {
    border-color: var(--raikou-card-section-border-color);
  }

  & + & {
    border-top: none !important;
  }
}
