.root {
  @mixin where-light {
    --raikou-tree-label-background-color: #f1f3f5;
  }
  @mixin where-dark {
    --raikou-tree-label-background-color: #2c2e33;
  }

  --level-offset: var(--raikou-spacing-lg);
  margin: 0;
  padding: 0;
  user-select: none;
}

.subtree {
  margin: 0;
  padding: 0;
}

.node {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;

  &:focus-visible {
    > .label {
      outline: 2px solid var(--raikou-primary-color-filled);
      outline-offset: 2px;
    }
  }
}

.label {
  padding-inline-start: var(--label-offset);

  &:where([data-selected]) {
    @mixin where-light {
      background-color: var(--raikou-tree-label-background-color);
    }

    @mixin where-dark {
      background-color: var(--raikou-tree-label-background-color);
    }
  }
}
