.table {
  @mixin where-light {
    --raikou-table-hover-color: #f1f3f5;
    --raikou-table-striped-color: #f8f9fa;
    --raikou-table-border-color: #dee2e6;
  }
  @mixin where-dark {
    --raikou-table-hover-color: #2c2e33;
    --raikou-table-striped-color: #25262b;
    --raikou-table-border-color: #373a40;
  }

  width: 100%;
  border-collapse: collapse;
  line-height: var(--raikou-line-height);
  font-size: var(--raikou-font-size-sm);
  table-layout: var(--table-layout, auto);
  caption-side: var(--table-caption-side, bottom);
  border: none;

  @mixin where-light {
    --table-hover-color: var(--raikou-table-hover-color);
    --table-striped-color: var(--raikou-table-striped-color);
    --table-border-color: var(--raikou-table-border-color);
  }

  @mixin where-dark {
    --table-hover-color: var(--raikou-table-hover-color);
    --table-striped-color: var(--raikou-table-striped-color);
    --table-border-color: var(--raikou-table-border-color);
  }

  &:where([data-with-table-border]) {
    border: rem(1px) solid var(--table-border-color);
  }
}

.th {
  text-align: left;

  @mixin where-rtl {
    text-align: right;
  }
}

.tr {
  border-bottom: none;
  background-color: transparent;

  @mixin hover {
    &:where([data-hover]) {
      background-color: var(--tr-hover-bg);
    }
  }

  &:where([data-with-row-border]) {
    border-bottom: rem(1px) solid var(--table-border-color);
  }
}

.td,
.th {
  padding: var(--table-vertical-spacing)
    var(--table-horizontal-spacing, var(--raikou-spacing-xs));

  &:where([data-with-column-border]:not(:last-child)) {
    border-inline-end: rem(1px) solid var(--table-border-color);
  }
}

.tbody {
  & :where(tr) {
    &:where([data-with-row-border]:last-of-type) {
      border-bottom: none;
    }

    &:where([data-striped="odd"]:nth-of-type(odd)) {
      background-color: var(--table-striped-color);
    }

    &:where([data-striped="even"]:nth-of-type(even)) {
      background-color: var(--table-striped-color);
    }

    &[data-hover] {
      --tr-hover-bg: var(
        --table-highlight-on-hover-color,
        var(--table-hover-color)
      );
    }
  }
}

.thead {
  top: var(--table-sticky-header-offset, 0);
  z-index: 1;

  &:where([data-sticky]) {
    position: sticky;
    background-color: var(--raikou-color-body);
  }
}

.caption {
  color: var(--raikou-color-dimmed);

  &:where([data-side="top"]) {
    margin-bottom: var(--raikou-spacing-xs);
  }

  &:where([data-side="bottom"]) {
    margin-top: var(--raikou-spacing-xs);
  }
}

.scrollContainer {
  overflow-x: var(--table-overflow);
}

.scrollContainerInner {
  min-width: var(--table-min-width);
}
