.root {
  @mixin light {
    --raikou-spotlight-actions-list-border: #e9ecef;
    --raikou-spotlight-action-bg-hover: #f8f9fa;
    --raikou-spotlight-action-bg-active: #f8f9fa;
    --raikou-spotlight-footer-border: #e9ecef;
  }
  @mixin dark {
    --raikou-spotlight-actions-list-border: #373a40;
    --raikou-spotlight-action-bg-hover: #25262b;
    --raikou-spotlight-action-bg-active: #25262b;
    --raikou-spotlight-footer-border: #373a40;
  }

  position: relative;
  margin-bottom: var(--_spoiler-margin-bottom);

  &[data-has-spoiler] {
    --_spoiler-margin-bottom: rem(24px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height var(--spoiler-transition-duration, 200ms) ease;
}

.control {
  position: absolute;
  left: 0;
  top: 100%;
  height: rem(24px);
}
