.root {
  @mixin where-light {
    --raikou-pagination-control-border-color: #ced4da;
    --raikou-pagination-control-background-color: #fff;
    --raikou-pagination-control-background-hover: #f8f9fa;
  }
  @mixin where-dark {
    --raikou-pagination-control-border-color: #373a40;
    --raikou-pagination-control-background-color: #25262b;
    --raikou-pagination-control-background-hover: #2c2e33;
  }

  --pagination-control-size-xs: 22px;
  --pagination-control-size-sm: 26px;
  --pagination-control-size-md: 32px;
  --pagination-control-size-lg: 38px;
  --pagination-control-size-xl: 44px;
  --pagination-control-size: var(--pagination-control-size-md);
  --pagination-control-fz: var(--raikou-font-size-md);
  --pagination-active-bg: var(--raikou-primary-color-filled);
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  cursor: pointer;
  color: var(--raikou-color-text);
  height: var(--pagination-control-size);
  min-width: var(--pagination-control-size);
  font-size: var(--pagination-control-fz);
  line-height: 1;
  border-radius: var(--pagination-control-radius, var(--raikou-radius-default));

  &:where([data-with-padding]) {
    padding: calc(var(--pagination-control-size) / 4);
  }

  &:where(:disabled, [data-disabled]) {
    cursor: not-allowed;
    opacity: 0.4;
  }

  @mixin where-light {
    border-color: var(--raikou-pagination-control-border-color);
    background-color: var(--raikou-pagination-control-background-color);

    @mixin hover {
      &:where(:not(:disabled, [data-disabled])) {
        background-color: var(--raikou-pagination-control-background-hover);
      }
    }
  }

  @mixin where-dark {
    border-color: var(--raikou-pagination-control-border-color);
    background-color: var(--raikou-pagination-control-background-color);

    @mixin hover {
      &:where(:not(:disabled, [data-disabled])) {
        background-color: var(--raikou-pagination-control-background-hover);
      }
    }
  }

  &:where([data-active]) {
    background-color: var(--pagination-active-bg);
    border-color: var(--pagination-active-bg);
    color: var(--pagination-active-color, var(--raikou-color-white));

    @mixin hover {
      background-color: var(--pagination-active-bg);
    }
  }
}

.dots {
  height: var(--pagination-control-size);
  min-width: var(--pagination-control-size);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
