.mantine-datatable-pagination {
  background: inherit;
  border-top: rem(1px) solid var(--raikou-datatable-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--raikou-spacing-xs);
}

.mantine-datatable-pagination-text {
  flex: 1 1 auto;
}

.mantine-datatable-pagination-pages {
  --raikou-datatable-pagination-active-text-color: var(
    light-dark(
      --raikou-datatable-pagination-active-text-color-light,
      --raikou-datatable-pagination-active-text-color-dark
    ),
    var(--raikou-color-white)
  );
  --raikou-datatable-pagination-active-background-color: var(
    light-dark(
      --raikou-datatable-pagination-active-background-color-light,
      --raikou-datatable-pagination-active-background-color-dark
    ),
    var(--raikou-primary-color-filled)
  );

  opacity: 1;
  transition: opacity 0.2s;
}

.mantine-datatable-pagination-pages-fetching {
  opacity: 0;
}

.mantine-datatable-pagination-pages-control {
  color: var(--raikou-datatable-color);
  border-color: var(--raikou-datatable-border-color);

  &[data-active] {
    color: var(--raikou-datatable-pagination-active-text-color);
    background: var(--raikou-datatable-pagination-active-background-color);
    border-color: transparent;
  }
}
