.indicator {
  @mixin where-light {
    --raikou-radiocard-indicator-background-color: #fff;
    --raikou-radiocard-indicator-border-color: #ced4da;
    --raikou-checkbox-indicator-disabled-background-color: #e9ecef;
    --raikou-checkbox-indicator-disabled-border-color: #dee2e6;
    --raikou-checkbox-indicator-disabled-checked-color: #adb5bd;
  }
  @mixin where-dark {
    --raikou-radiocard-indicator-background-color: #404040;
    --raikou-radiocard-indicator-border-color: #4a4a4a;
    --raikou-checkbox-indicator-disabled-background-color: #383838;
    --raikou-checkbox-indicator-disabled-border-color: #383838;
    --raikou-checkbox-indicator-disabled-checked-color: #696969;
  }

  --radio-size-xs: 16px;
  --radio-size-sm: 20px;
  --radio-size-md: 24px;
  --radio-size-lg: 30px;
  --radio-size-xl: 36px;

  --radio-icon-size-xs: 6px;
  --radio-icon-size-sm: 8px;
  --radio-icon-size-md: 10px;
  --radio-icon-size-lg: 14px;
  --radio-icon-size-xl: 16px;

  --radio-icon-size: var(--radio-icon-size-sm);
  --radio-size: var(--radio-size-sm);
  --radio-color: var(--raikou-primary-color-filled);
  --radio-icon-color: var(--raikou-color-white);

  position: relative;
  border: 1px solid transparent;
  width: var(--radio-size);
  min-width: var(--radio-size);
  height: var(--radio-size);
  min-height: var(--radio-size);
  border-radius: var(--radio-radius, 10000px);
  transition:
    border-color 100ms ease,
    background-color 100ms ease;
  cursor: var(--raikou-cursor-type);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin where-light {
    background-color: var(--raikou-radiocard-indicator-background-color);
    border-color: var(--raikou-radiocard-indicator-border-color);
  }

  @mixin where-dark {
    background-color: var(--raikou-radiocard-indicator-background-color);
    border-color: var(--raikou-radiocard-indicator-border-color);
  }

  &[data-indeterminate],
  &[data-checked] {
    background-color: var(--radio-color);
    border-color: var(--radio-color);

    & > .icon {
      opacity: 1;
      transform: none;
      color: var(--radio-icon-color);
    }
  }

  &[data-disabled] {
    cursor: not-allowed;

    @mixin where-light {
      background-color: var(
        --raikou-checkbox-indicator-disabled-background-color
      );
      border-color: var(--raikou-checkbox-indicator-disabled-border-color);
    }

    @mixin where-dark {
      background-color: var(
        --raikou-checkbox-indicator-disabled-background-color
      );
      border-color: var(--raikou-checkbox-indicator-disabled-border-color);
    }

    &[data-checked] > .icon {
      @mixin where-light {
        color: var(--raikou-checkbox-indicator-disabled-checked-color);
      }

      @mixin where-dark {
        color: var(--raikou-checkbox-indicator-disabled-checked-color);
      }
    }
  }
}

.indicator--outline {
  &[data-indeterminate]:not([data-disabled]),
  &[data-checked]:not([data-disabled]) {
    background-color: transparent;
    border-color: var(--radio-color);

    & > .icon {
      color: var(--radio-color);
      opacity: 1;
      transform: none;
    }
  }
}

.icon {
  display: block;
  width: var(--radio-icon-size);
  height: var(--radio-icon-size);
  color: transparent;
  pointer-events: none;
  transform: translateY(rem(5px)) scale(0.5);
  opacity: 1;
  transition:
    transform 100ms ease,
    opacity 100ms ease;
}
