.tooltip {
  @mixin where-light {
    --raikou-tooltip-background-color: #212529;
    --raikou-tooltip-color: #fff;
  }
  @mixin where-dark {
    --raikou-tooltip-background-color: #e9ecef;
    --raikou-tooltip-color: #000;
  }

  --tooltip-radius: var(--raikou-radius-default);

  position: absolute;
  padding: calc(var(--raikou-spacing-xs) / 2) var(--raikou-spacing-xs);
  pointer-events: none;
  font-size: var(--raikou-font-size-sm);
  white-space: nowrap;
  border-radius: var(--tooltip-radius);

  @mixin where-light {
    background-color: var(--tooltip-bg, var(--raikou-tooltip-background-color));
    color: var(--tooltip-color, var(--raikou-tooltip-color));
  }

  @mixin where-dark {
    background-color: var(--tooltip-bg, var(--raikou-tooltip-background-color));
    color: var(--tooltip-color, var(--raikou-tooltip-color));
  }

  &:where([data-multiline]) {
    white-space: normal;
  }
}

.arrow {
  background-color: inherit;
  border: 0;
  z-index: 1;
}
