.dropdown {
  @mixin where-light {
    --raikou-popover-bg: #fff;
    --raikou-popover-bd: #e9ecef;
  }
  @mixin where-dark {
    --raikou-popover-bg: #25262b;
    --raikou-popover-bd: #373a40;
  }

  position: absolute;
  background-color: var(--_popover-bg);
  border: rem(1px) solid var(--_popover-bd);
  padding: var(--raikou-spacing-sm) var(--raikou-spacing-md);
  box-shadow: var(--popover-shadow, none);
  border-radius: var(--popover-radius, var(--raikou-radius-default));

  &:focus {
    outline: none;
  }

  @mixin where-light {
    --_popover-bg: var(--raikou-popover-bg);
    --_popover-bd: var(--raikou-popover-bd);
  }

  @mixin where-dark {
    --_popover-bg: var(--raikou-popover-bg);
    --_popover-bd: var(--raikou-popover-bd);
  }
}

.arrow {
  background-color: inherit;
  border: rem(1px) solid var(--_popover-bd);
  z-index: 1;
}
