.root {
  @mixin where-light {
    --raikou-breadcrumbs-separator-color: #495057;
  }
  @mixin where-dark {
    --raikou-breadcrumbs-separator-color: #909296;
  }

  display: flex;
  align-items: center;
}

.breadcrumb {
  line-height: 1;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.separator {
  margin-inline: var(--bc-separator-margin, var(--raikou-spacing-xs));
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin where-light {
    color: var(--raikou-breadcrumbs-separator-color);
  }

  @mixin where-dark {
    color: var(--raikou-breadcrumbs-separator-color);
  }
}
