.root {
  @mixin where-light {
    --raikou-notification-border-color: #dee2e6;
    --raikou-notification-background-color: #fff;
    --raikou-notification-title-color: #212529;
    --raikou-notification-title-description-color: #868e96;
    --raikou-notification-description-color: #000;
    --raikou-notification-close-button-hover-background-color: #f8f9fa;
  }
  @mixin where-dark {
    --raikou-notification-border-color: #ced4da;
    --raikou-notification-background-color: #25262b;
    --raikou-notification-title-color: #fff;
    --raikou-notification-title-description-color: #5c5f66;
    --raikou-notification-description-color: #c1c2c5;
    --raikou-notification-close-button-hover-background-color: #141517;
  }

  --notification-radius: var(--raikou-radius-default);
  --notification-color: var(--raikou-primary-color-filled);

  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding-inline-start: 22px;
  padding-inline-end: var(--raikou-spacing-xs);
  padding-top: var(--raikou-spacing-xs);
  padding-bottom: var(--raikou-spacing-xs);
  border-radius: var(--notification-radius);
  box-shadow: var(--raikou-shadow-lg);

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    top: var(--notification-radius);
    bottom: var(--notification-radius);
    inset-inline-start: 4px;
    border-radius: var(--notification-radius);
    background-color: var(--notification-color);
  }

  @mixin where-light {
    background-color: var(--raikou-notification-background-color);
  }

  @mixin where-dark {
    background-color: var(--raikou-notification-background-color);
  }

  &:where([data-with-icon]) {
    padding-inline-start: var(--raikou-spacing-xs);

    &::before {
      display: none;
    }
  }

  &:where([data-with-border]) {
    @mixin where-light {
      border: 1px solid var(--raikou-notification-border-color);
    }

    @mixin where-dark {
      border: 1px solid var(--raikou-notification-border-color);
    }
  }
}

.icon {
  box-sizing: border-box;
  margin-inline-end: var(--raikou-spacing-md);
  width: 28px;
  height: 28px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--notification-color);
  color: var(--raikou-color-white);
}

.loader {
  margin-inline-end: var(--raikou-spacing-md);
}

.body {
  flex: 1;
  overflow: hidden;
  margin-inline-end: var(--raikou-spacing-xs);
}

.title {
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--raikou-font-size-sm);
  line-height: var(--raikou-line-height-sm);
  font-weight: 500;

  @mixin where-light {
    color: var(--raikou-notification-title-color);
  }

  @mixin where-dark {
    color: var(--raikou-notification-title-color);
  }
}

.description {
  font-size: var(--raikou-font-size-sm);
  line-height: var(--raikou-line-height-sm);
  overflow: hidden;
  text-overflow: ellipsis;

  @mixin where-light {
    color: var(--raikou-notification-description-color);
  }

  @mixin where-dark {
    color: var(--raikou-notification-description-color);
  }

  &:where([data-with-title]) {
    @mixin where-light {
      color: var(--raikou-notification-title-description-color);
    }

    @mixin where-dark {
      color: var(--raikou-notification-title-description-color);
    }
  }
}

.closeButton {
  @mixin hover {
    @mixin where-light {
      background-color: var(
        --raikou-notification-close-button-hover-background-color
      );
    }

    @mixin where-dark {
      background-color: var(
        --raikou-notification-close-button-hover-background-color
      );
    }
  }
}
