.card {
  @mixin where-light {
    --raikou-radio-card-border-border-color: #dee2e6;
  }
  @mixin where-dark {
    --raikou-radio-card-border-border-color: #4a4a4a;
  }

  --card-radius: var(--raikou-radius-default);

  display: block;
  width: 100%;
  border-radius: var(--card-radius);
  cursor: pointer;

  & :where(*) {
    cursor: inherit;
  }

  &:where([data-with-border]) {
    border: 1px solid transparent;

    @mixin where-light {
      border-color: var(--raikou-radio-card-border-border-color);
    }

    @mixin where-dark {
      border-color: var(--raikou-radio-card-border-border-color);
    }
  }
}
