.root {
  @mixin where-light {
    --raikou-alert-message-color: #000;
  }
  @mixin where-dark {
    --raikou-alert-message-color: #fff;
  }

  --alert-radius: var(--raikou-radius-default);
  --alert-bg: var(--raikou-primary-color-light);
  --alert-bd: 1px solid transparent;
  --alert-color: var(--raikou-primary-color-light-color);

  padding: var(--raikou-spacing-md) var(--raikou-spacing-md);
  border-radius: var(--alert-radius);
  position: relative;
  overflow: hidden;
  background-color: var(--alert-bg);
  border: var(--alert-bd);
  color: var(--alert-color);
}

.wrapper {
  display: flex;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--raikou-spacing-xs);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--raikou-font-size-sm);
  font-weight: 700;

  &:where([data-with-close-button]) {
    padding-inline-end: var(--raikou-spacing-md);
  }
}

.label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  line-height: 1;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-inline-end: var(--raikou-spacing-md);
  margin-top: 1px;
}

.message {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--raikou-font-size-sm);

  @mixin where-light {
    color: var(--raikou-alert-message-color);
  }

  @mixin where-dark {
    color: var(--raikou-alert-message-color);
  }

  &:where([data-variant="filled"]) {
    color: var(--alert-color);
  }

  &:where([data-variant="white"]) {
    color: var(--raikou-color-black);
  }
}

.closeButton {
  width: 20px;
  height: 20px;
  color: var(--alert-color);
}
